@media (min-width: 1200px) {

      .comment-card .replyImg {
        position: absolute;
        top: 25px; 
        right: 110px;
      }

      .comment-card .replyText {
        position: absolute;
        top: 20px; 
        right: 40px; 
      }
      .comment-card .upvoteContainer {
        position: relative;
        width:10px;
      }  
  }